:root {
}

/**
  |============================
  | Base styles
  |============================
*/

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

.list-style {
  list-style-type: none;
  text-decoration: none;
}

/**
  |============================
  | Header styles
  |============================
*/

/* Header logo */
.logo-web {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Header list */
.header-list {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

/* Header contact */
.header-list-contact {
  color: var(--slate, #434455);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/**
  |============================
  | Hero styles
  |============================
*/

/* Hero image section */
.hero-section {
  background: var(--navyblue, #2e2f42);
}

.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero-button {
  cursor: pointer;
  background: var(--iris, #4d5ae5);
}

.hero-button-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

/**
  |============================
  | Section 1
  |============================
*/

/* Our advantages */
.advantages-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.advantages-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/**
  |============================
  | Section 2
  |============================
*/

/* What are we doing */
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/**
  |============================
  | Section 3
  |============================
*/

/* Our team background */
.section-our-team {
  background: var(--cloud, #f4f4fd);
}

.section-our-team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.section-our-team-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.image-our-team {
  background: var(--white, #fff);
}

/**
  |============================
  | Footer styles
  |============================
*/

/* Footer backgroung*/
.footer {
  background: var(--navyblue, #2e2f42);
}

.logo-studio-footer {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/**
  |============================
  | Portfolio styles
  |============================
*/
/* Filter */
.filter-button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
}

.filter-button-text {
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

/**
  |============================
  | Cards list
  |============================
*/

.cards-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.cards-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
